@{
    ViewData["Title"] = "Principal";
}

<div class="sheetSlider sh--default">
    <input id="s1" type="radio" name="slide1" checked />
    <input id="s2" type="radio" name="slide1" />
    <input id="s3" type="radio" name="slide1" />
    <input id="s4" type="radio" name="slide1" />
    <input id="s5" type="radio" name="slide1" />
    <input id="s6" type="radio" name="slide1" />
    <input id="s7" type="radio" name="slide1" />
    <div class="sh__content">

      
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/1.jpg" alt="imgText" class="imgSlider" />            <!-- Item Info -->
            <div class="sh__meta">
               
            </div>
        </div>
       
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/3.jpg" alt="imgText" class="imgSlider" />            <!-- Item Info -->
            <div class="sh__meta">
               
            </div>
        </div>
      
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/5.jpg" alt="imgText" class="imgSlider" />            <!-- Item Info -->
            <div class="sh__meta">
               
            </div>
        </div>
        <!-- Slider Item -->
        <div class="sh__item">
            <img src="~/Images/6.jpg" alt="imgText" class="imgSlider" />            <!-- Item Info -->
            <div class="sh__meta">
               
            </div>
        </div>
       
    </div>
        <!-- Botones -->
        <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
        </div>
        <!-- Flechas -->
        <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
            <label for="s4"></label>
            <label for="s5"></label>
            <label for="s6"></label>
            <label for="s7"></label>
        </div>

</div>
